/*
  I wouldn't do any of this in a real project.
  This is purely for pixel perfection fun :)
*/

p {
  font-size: 15px;
  color: hsl(250, 4%, 29%);
}

.promo__heading {
  margin-top: 6px;
  margin-bottom: 6px;
}

.promo__about {
  margin-top: 1px;
}

.link-btn {
  padding: 15px 32px 14px;
  font-size: 15px;
}

.bottom-strip {
  padding-top: 37px;
}

.article__subheading {
  padding-right: 12px;
  line-height: 171%;
}

.article-additional::before {
  top: -4px;
}