@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts/static/Inter-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts/static/Inter-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts/static/Inter-ExtraBold.ttf);
  font-weight: 800;
}

body {
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 1110px;
  margin: 0 auto;

  min-height: 1024px;
  /* weak for design comparison slider */
}

/* === HEADER ================================= */
.header {
  padding-top: 85px;
  padding-bottom: 51px;
}

.nav {
  min-height: 48px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__ul {
  display: flex;
  gap: 38px;

  margin: 0;
  padding: 0;
  list-style: none;
}

.logo {
  min-width: 65px;
}

.link {
  padding: 12px 0 11px;
  text-decoration: none;
}

.link:link,
.link:visited {
  color: inherit;
}

.link:hover {
  color: hsl(35, 77%, 62%);
}

/* === MAIN ================================= */

.first-screen {
  display: grid;
  grid-template-columns: auto 350px;
  column-gap: 30px;

  padding-bottom: 36px;
}

.page-h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.promo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
}

.promo__decorative {
  grid-column: 1 / -1;
  aspect-ratio: 730 / 300;

  background-image: url('./assets/images/image-web-3-desktop.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.promo__heading {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 56px;
  line-height: 56px;
}

.promo__right-side {
  display: flex;
  flex-direction: column;
}

.promo__about {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 155%;
}

.promo__btn-placing {
  margin-top: auto;
  max-width: fit-content;
}

/* === LINK LIKE A BUTTON =================================  */
.link-btn {
  display: inline-block;
  padding: 14px 28px 14px;

  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 700;
  letter-spacing: 0.24em;

}

.link-btn:link,
.link-btn:visited {
  color: hsl(0, 0%, 100%);
  background-color: hsl(5, 84%, 63%);
}

.link-btn:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 0%);
}

.aside-panel {
  padding: 28px 24px 0;

  color: hsl(0, 0%, 100%);
  background-color: hsl(240, 100%, 5%);
}

.aside-panel__heading {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 40px;

  color: hsl(35, 77%, 62%);
}

.article {
  padding: 28px 0;
}

.article+.article {
  border-top: 1px solid hsl(0, 0%, 100%);
}

.article__link {
  text-decoration: none;
}

.article__link:link,
.article__link:visited {
  color: hsl(0, 0%, 100%);
}

.article__link:hover {
  color: hsl(35, 77%, 62%);
}

.article__heading {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 20px;
}

.article__subheading {
  margin-top: 12px;
  margin-bottom: 0;

  line-height: 170%;
}

.bottom-strip {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  padding-top: 32px;
  padding-bottom: 32px;
}

.article-additional {
  counter-increment: ol;
  position: relative;

  padding-top: 44px;
  padding-left: 100px;
  min-height: 127px;

  background-image: url('./assets/images/image-retro-pcs.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.article-additional::before {
  content: "0" counter(ol);

  position: absolute;
  top: 0;
  left: calc(100px + 24px);

  font-weight: 800;
  font-size: 32px;

  color: hsl(233, 8%, 79%);
}

.article-additional--top-laptops {
  background-image: url('./assets/images/image-top-laptops.jpg');
}

.article-additional--gaming-growth {
  background-image: url('./assets/images/image-gaming-growth.jpg');
}

.article-additional__content {
  padding-left: 24px;
}

.article-additional__heading {
  margin-top: 0;
  margin-bottom: 0;
}

.article-additional__subheading {
  margin-top: 9px;
  margin-bottom: 0;

  line-height: 170%;
}

.article-additional__link {
  padding: 12px 0 11px;
  text-decoration: none;
}

.article-additional__link:link,
.article-additional__link:visited {
  color: inherit;
}

.article-additional__link:hover {
  color: hsl(35, 77%, 62%);
}